streamlit
torch
torchaudio
soundfile
transformers
google-generativeai
Chatterbox
librosa
perth
einops
streamlit-audio-recorder
python-dotenv
safetensors
huggingface-hub
transformers
s3tokenizer
omegaconf
conformer
diffusers